PORT=3007
NODE_ENV=production
JWT_SECRET=CAMBIAR
CORS_ORIGINS=http://localhost:5173,https://TU-FRONTEND.vercel.app

AZURE_TENANT_ID=PEGAR_TENANT_ID
AZURE_CLIENT_ID=PEGAR_CLIENT_ID
AZURE_CLIENT_SECRET=PEGAR_SECRET_REAL
SHAREPOINT_HOSTNAME=gruposurcocr.sharepoint.com
SHAREPOINT_SITE_PATH=/sites/Recetas

SP_LIST_USUARIOS=SP_Usuarios
SP_LIST_CLIENTES=SP_Cliente
SP_LIST_INGENIEROS=SP_Ingeniero
SP_LIST_FINCAS=SP_Finca
SP_LIST_SUCURSALES=SP_Sucursal
SP_LIST_PRODUCTOS=SP_Producto
SP_LIST_RECETA_INGENIERO=SP_Receta Ingeniero
SP_LIST_RECETA_PRODUCTO=SP_Receta Producto
SP_LIST_HISTORIAL=SP_Historial
SP_LIST_HISTORIAL_PRODUCTO=SP_HistorialRecetaProducto

USE_SQL_CATALOGS=true
SQL_SERVER=172.22.1.7
SQL_DATABASE=CobsysSurco
SQL_USER=sa
SQL_PASSWORD="PEGAR_CLAVE_SQL"
SQL_PORT=1433
SQL_ENCRYPT=false
SQL_TRUST_SERVER_CERTIFICATE=true
SQL_REQUEST_TIMEOUT_MS=60000
SQL_CATALOG_CACHE_TTL_MS=300000

SQL_PRODUCTOS_QUERY=SELECT idProducto AS id, codigo, Producto AS nombre, Unidad AS unidad, Disponible AS stock, Disponible AS disponible, CAST(0 AS decimal(18,2)) AS reservada, PrecioVenta AS precioVenta FROM vw_AppRecetas_Productos ORDER BY Producto
SQL_CLIENTES_QUERY=SELECT idCliente AS id, Nombre AS nombre, Apellido AS apellido, Telefono AS telefono FROM vw_AppRecetas_Clientes ORDER BY Nombre, Apellido
